<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .Index{text-align: right;}
        </style>
    </head>
<body>

    <div class = "Index">
        <a href='/blog'>Home Page</a>
    </div>

    <div class = "Index">
        <a href='/newpost'>Create New Post</a>
    </div>

    {% with messages = get_flashed_messages()%}
    <ul>
        {%for messages in message%}
        <li>{{message}}</li>
    </ul>
    {%endfor%}
    {%endwith%}


    {% block content %}
    {% endblock %}

</body>
</html>