<!doctype html>
<html>
    <head>
        <title>Blogz - {{title}}</title>
    </head>
        <style>
            .inlineL{text-align: left;}
            .inlineR {text-align: right;}
            .error {color: red;}
        </style>

<body>
    <div class = "inlineL">
        <a href='/home'>Home</a>
        <a href='/newpost'>New Post</a>
        <a href='/allpost'>All Posts</a>
    </div>
    <div class = "inlineR">
        <a href='/login'>Login</a>
        <a href='/logout'>Logout</a>
    </div>

    {% with messages = get_flashed_messages(with_categories=True)%}
    <ul>
        {%for category,message in messages%}
        <li class="{{category}}">{{message}}</li>
        {%endfor%}
    </ul>
    {%endwith%}

    {% block content %}
    {% endblock %}

</body>
</html>