{% extends "base.html" %}
{% block content %}

<style>
        .center {text-align: center}
        textarea {
                margin: 10px 0;
                width: 100px;
                height: 120px;
            }
            .error {color: red;}
    </style>
    
    <div class="center" style="background-color:black; color:white; padding:20px;">
        <h1>Create a New Blog Post!</h1>
    </div>

<form method ="POST">
                <p>
                <label for = "post-title">Title</label>
                </p>
                <p>
                <input name = "name" type = "text" value ="{{name}}"/>
                <h4 class = "error" name="name_error">{{name_error}}</h4>
                </p>
                <p>
                <label for = "post-content">Entry</label>
                </p>
                <p>
                    <textarea type ='textarea' name = 'entry' value = "{{entry}}"></textarea>
                    <h4 class = "error" name="entry_error">{{entry_error}}</h4>
                </p>
                <br><br>
                <input type = "submit" value = "Add Entry" />

</form>

{% endblock %}