{% extends "base.html" %}
{% block content %}

<style>
    .center {text-align: center}
</style>

<div class="center" style="background-color:black; color:white; padding:20px;">
    <h1>Blogs</h1>
</div>

    {% if blogs | length == 0 %}
    <p>No blog entries yet</p>
    {% else %}
        <div class = "center">
            {% for blog in blogs %} 
            <h1><a href ="/allpost?id={{blog.id}}">{{blog.name}}</a></h1>
            <p>{{blog.entry}}</p>
            <em>Written By: </em><a href ="/allpost?user={{user.userId}}">{{user.username}}</a>
            {%endfor%}
        </div>
    {%endif%}
{% endblock %}