{% extends "base.html" %}

{% block content %}

<style>
    .center {text-align: center}
</style>

<div class="center" style="background-color:black; color:white; padding:20px;">
    <h1>Blogs</h1>
</div>

    <hr />


    {% if blogs | length == 0 %}
    <p>No blog entries yet</p>
    {% else %}

        <p>
                {% for user in users %} 
                <h1><a href ="/allposts?id={{user.id}}">{{user.name}}</a></h1>
                <p>{{user.entry}}</p>
                {% endfor %}
        </p>
    

    {% endif %}


   


    <hr />


{% endblock %}